.footer {
  width: 100%;
  height: 24px;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.footer .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.8rem;
  color: var(--color-text-other);
  cursor: pointer;
}

.footer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: var(--color-text-other);
  font-size: 0.8rem;
}

#select {
  width: 5rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-text-other);
  font-size: 0.8rem;
}

@media screen and (max-height: 660px) {
  .footer .bottom {
    column-gap: 0;
  }

  .footer {
    margin-bottom: 3rem;
  }
}